name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  win:
    name: win ${{ matrix.tox_env }}
    runs-on: windows-2022
    timeout-minutes: 2
    strategy:
      matrix:
        include:
          - {python: '3.10', tox_env: py310}
          - {python: '3.14', tox_env: py314}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: pip
      - name: Install deps
        run: |
          python -m pip install tox
      - name: Run tests
        run: |
          python -m tox -e "${{ matrix.tox_env }}"
